* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #f05454;
  --background-soft-color: #dddddd;
  --header-color: #dddddd;
  --dark-bg: #222831;
  --dark-soft-bg: #30475e;

  font-size: 60%;
}
a {
  text-decoration: none;
}
body {
  background-color: var(--background-color);
  font: 400 1.6rem Poppins;
}
h1,
h2,
h3 {
  color: var(--header-color);
  text-align: center;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
p {
  font-size: 1.4em;
  text-align: center;
  color: #dddddd;
}

main {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main h1 {
  padding: 12px;
}
main img {
  width: 20rem;
  border-radius: 50%;
  border: 4px solid var(--header-color);
}
main p {
  padding-top: 2rem;
  margin-bottom: 1rem;
}

.social {
  text-align: center;
}
.social h1 {
  padding: 32px;
}
.logos {
  display: block;
  padding: 16px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  color: #000;
  background: white;
  width: 250px;
}
.logos:hover {
  color: #dddddd;
  transition: 250ms;
  background: var(--dark-bg);
}

section > section {
  padding: 10rem 5rem;
}
.summary-content {
  background-color: var(--dark-soft-bg);
  margin: 12px 0;
  padding: 32px 12px;
}
.summary-content a {
  display: block;
  padding: 16px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  color: var(--dark-bg);
  background: var(--header-color);
  text-align: center;
}
.summary-content a:hover {
  color: #dddddd;
  transition: 250ms;
  background: var(--background-color);
}
.galery img {
  width: 200px;
}
footer {
  text-align: center;
  background-color: #ed9200;
  margin: 0;
  padding: 2rem;
}

.dark-bg {
  background-color: var(--dark-bg);
}
.dark-soft-bg {
  background-color: var(--dark-soft-bg);
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
  .container {
    max-width: 1100px;
    margin: auto;
  }
  main {
    height: auto;
  }
  nav {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-bg);
  }
  nav li {
    list-style: none;
    font-size: 4rem;
    padding: 2rem;
  }
  nav li a {
    color: var(--background-color);
  }
  nav li a:hover {
    color: #dddddd;
    transition: 250ms;
  }
  /* Split the screen in half */
  .split {
    height: 100%;
    width: 50%;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    position: fixed;
  }

  /* Control the left side */
  .left {
    left: 0;
  }

  /* Control the right side */
  .right {
    right: 0;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
