* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #f05454;
  --background-soft-color: #dddddd;
  --header-color: #dddddd;
  --dark-bg: #222831;

  font-size: 60%;
}
a {
  text-decoration: none;
}
body {
  background-color: var(--background-color);
  font: 400 1.6rem Poppins;
}
h1,
h2,
h3 {
  color: var(--header-color);
  text-align: center;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
p {
  font-size: 1.4em;
  text-align: center;
  color: #dddddd;
  padding: 20px;
}

main {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main h1 {
  padding: 12px;
}
main img {
  width: 26rem;
  border-radius: 50%;
  border: 4px solid var(--header-color);
}
main p {
  padding-bottom: 0px;
  margin-bottom: 32px;
}
#down-arrow {
  color: #dddddd;
  position: absolute;
  bottom: 5%;
}

.social {
  text-align: center;
}
.social h1 {
  padding: 32px;
}
.logos {
  display: block;
  padding: 16px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  color: #000;
  background: white;
  width: 250px;
}
.logos:hover {
  color: #dddddd;
  transition: 250ms;
  background: var(--dark-bg);
}
.summary{
  margin: 32px 0;
}
.summary-content{
  padding: 12px;

}
.galery {
  padding: 0;
  margin: 0;
}
.galery img {
  width: 200px;
}
footer {
  text-align: center;
  background-color: #ed9200;
}
section {
  padding: 32px 0;
}
.red-bg-section {
}
.dark-bg-section {
  background-color: var(--dark-bg);
}
.test {
  margin: auto;
  width: 400px;
}
@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
  .container {
    max-width: 1100px;
    margin: auto;
  }
  main{
    grid-area: main;
  }
  .dark-bg-section{
    grid-area: sum;
  }

  .galery {
    padding: 32px;
  }
}
